$defaultlinkcolor: #fff;

$profileheaderbackground: #252424;
$profileheaderborder: 1px solid #000;
$profileheadermemberfontsize: 20px;

$teamwinbackground: rgba(46, 204, 113, 0.5);
$teamlosebackground: rgba(236,100,75, 0.5);

$rankingtabsbackground: #3d3d3d;