<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <div class="col-xs-12 col-md-6 col-xs-push-0 col-md-push-3 pushToCenter">
            <% if (message !== '') { %>
                <div class="col-xs-12 col-md-12">
                    <h3 class="center"><%= message %></h3>
                </div>
            <% } %>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Team name</th>
                        <th>Win/Lose</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="teamtable">
                    <% if (Object.keys(teamData) == 'error') { %>
                        <tr><td class="center"><%= teamData.error %></td></tr>
                    <% } else { %>
                        <% for(let key in teamData) { %>
                            <tr>
                                <td id="team" data-team="<%= teamData[key].teamname %>" style="cursor: pointer;"><%= teamData[key].teamname %></td>
                                <td><%= teamData[key].win %>&nbsp;/&nbsp;<%= teamData[key].lose %></td>
                                <td>
                                    <a href="/v/delete/<%= teamData[key].teamname %>" style="color: white;text-decoration: none;">Delete</a>
                                    &nbsp;/&nbsp;
                                    <a href="/edit/<%= teamData[key].teamname %>" style="color: white;text-decoration: none;">Edit</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
            <div class="col-xs-12- col-md-6">
                <button class="btn btn-primary col-xs-12 col-md-12" onclick="document.location.href = '/v/add'">Add Team</button>
            </div>
            <div class="col-xs-12- col-md-6">
                <button class="btn btn-success col-xs-12 col-md-12" onclick="document.location.href = '/v/match'">Start Match</button>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('team').addEventListener('click', function(e) {
            e.preventDefault();
            document.location.href = `/p/${document.getElementById('team').dataset.team}`;
        });
    </script>
</body>
</html>