<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete team</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <div class="col-xs-12 col-md-4 col-xs-push-0 col-md-push-4 pushToCenter">
            <h3 class="center">Are you sure you want to delete "<%= teamname %>"?</h3>
            <button class="btn btn-danger col-xs-12 col-md-12" onclick="document.location.href = '/deleteteam?teamname=<%= teamname %>'">Delete <%= teamname %></button>
        </div>
    </div>
</body>
</html>