<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match time!</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <div class="col-xs-12 col-md-12 pushToCenter">
            <!-- START SELECT PHASE -->
            <div id="selectphase">
                <h3 class="center">Select your teams!</h3>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <select class="form-control" name="team1" id="team1">
                            <% for(let key in teamData) { %>
                                <option value="<%= teamData[key].teamname %>"><%= teamData[key].teamname %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h1 class="center" style="margin-top: 0;">VS</h1>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <select class="form-control" name="team2" id="team2">
                            <% for(let key in teamData) { %>
                                <option value="<%= teamData[key].teamname %>"><%= teamData[key].teamname %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-xs-push-0 col-md-push-4">
                    <button class="btn btn-warning col-xs-12 col-md-12" id="startmatch">Start the match!</button>
                </div>
            </div>
            <!-- END SELECT PHASE -->
            <!-- START MATCH PHASE -->
            <div class="hidden" id="actualmatch">
                <h3 class="center"><span id="team1name"></span>&nbsp;<strong>VS</strong>&nbsp;<span id="team2name"></span></h3>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <select class="form-control" name="team1" id="team1score">
                            <% for(let i = 0; i <= 10; i++) { %>
                                <option value="<%= i %>"><%= i %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h1 class="center" style="margin-top: 0;">-</h1>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <select class="form-control" name="team2" id="team2score">
                            <% for(let i = 0; i <= 10; i++) { %>
                                <option value="<%= i %>"><%= i %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-xs-push-0 col-md-push-4">
                    <button class="btn btn-success col-xs-12 col-md-12" id="endmatch">End the match!</button>
                </div>
            </div>
            <!-- END MATCH PHASE -->
        </div>
    </div>
    <script>
        document.getElementById('startmatch').addEventListener('click', function(e) {
            e.preventDefault();
            document.getElementById('selectphase').classList.add('hidden');
            document.getElementById('actualmatch').classList.remove('hidden');

            let team1 = document.getElementById('team1');
            document.getElementById('team1name').innerHTML = team1.options[team1.selectedIndex].value;
            let team2 = document.getElementById('team2');
            document.getElementById('team2name').innerHTML = team2.options[team2.selectedIndex].value;
        });

        document.getElementById('endmatch').addEventListener('click', function(e) {
            e.preventDefault();
            let score1 = document.getElementById('team1score');
            let score2 = document.getElementById('team2score');

            if (score1.options[score1.selectedIndex].value > score2.options[score2.selectedIndex].value) {
                document.location.href = `/endmatch?winner=${document.getElementById('team1name').innerHTML}&loser=${document.getElementById('team2name').innerHTML}&winscore=${score1.options[score1.selectedIndex].value}&losescore=${score2.options[score2.selectedIndex].value}`;
            } else {
                document.location.href = `/endmatch?winner=${document.getElementById('team2name').innerHTML}&loser=${document.getElementById('team1name').innerHTML}&winscore=${score2.options[score2.selectedIndex].value}&losescore=${score1.options[score1.selectedIndex].value}`;
            }
        });
    </script>
</body>
</html>