doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Profile of 
        link(rel="stylesheet" href="/assets/css/bootstrap.min.css")
        link(rel="stylesheet" href="/assets/css/style.css")
    body
        p= memberData
        p= matchHistory
        p= playerstats
        if (Object.keys(memberData) === 'error')
            tr
                td.center= memberData.error