.container {
    height: 100vh;
    max-height: 100vh;
}

.pushToCenter {
    top: 50%;
    transform: translateY(-50%);
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.profileheader {
    background-color: #252424;
    border-bottom: 1px solid #000;
    margin-bottom: 1em;
}

.profileheader .profiletitle {
    margin: 1em;
}

.profileheader .profilewinlose {
    text-align: center;
    margin: 1em;
}

.profileheader .profileteammember {
    font-size: 20px;
    margin-top: 34px;
    border-right: 1px solid #FFF;
    text-align: center;
}

.profileheader .profileteammember a {
    color: #FFF;
    text-decoration: none;
}

.profileheader .profileteammember:last-child {
    border-right: none;
}

#winlosechart {
    width: 400px !important;
    height: 400px !important;
}

.team-win {
    background: rgba(46, 204, 113, 0.5);
}

.team-lose {
    background: rgba(236,100,75, 0.5);
}

.teamhistorybar {
    margin-bottom: 1em;
}

.ranking-area .tabs {
    padding: 0;
    padding-left: 2px;
}

.ranking-area {
    margin-top: 1em;
}

.ranking-area .tabs span {
    padding: 5px 10px;
    padding-bottom: 5px;
    background: #3d3d3d;
    cursor: pointer;
}

.ranking-area .tabs span.active {
    background: #717171;
}

.ranking-area .tabs #team-ranking-tab {
    margin-right: 10px;
}

.ranking-area #team-ranking-ranks a, .ranking-area #player-ranking-ranks a {
    text-decoration: none;
    color: white;
}